@charset "UTF-8";
html {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
html body {
  margin: 0;
  /* start index page  */
  /* start about page */
  /* start autoRepairServices page */
  /* start contact page */
  /* start footer */
}
html body header {
  display: flex;
  flex-flow: column;
}
html body header a {
  text-decoration: none;
}
html body header .container {
  background: #0d0d0d;
  margin-bottom: 3%;
}
html body header .container .main-log {
  display: inline-block;
}
html body header .container .main-log img {
  width: 400px;
  height: 114px;
}
html body header .container .addres,
html body header .container .mobile-number,
html body header .container .language-menu {
  padding: 40px;
}
html body header .container .menu-addres {
  float: right;
  display: flex;
  color: white;
}
html body header .container .menu-addres .addres {
  display: flex;
  align-items: center;
}
html body header .container .menu-addres .addres i {
  margin: 0 7px 0 0;
}
html body header .container .menu-addres .addres .addres1 {
  display: block;
}
html body header .container .mobile-number {
  display: flex;
  align-items: center;
}
html body header .container .mobile-number i {
  margin: 0 7px 0 0;
}
html body header .container .mobile-number .number {
  display: block;
}
html body header .container .menu-addres span:first-child {
  color: gray;
  text-transform: uppercase;
}
html body header .container span {
  display: block;
}
html body .main-menu {
  background: white;
  margin-top: -54px;
  box-shadow: 0px 11px 20px rgba(102, 191, 191, 0.5);
}
html body .main-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: center;
}
html body .main-menu ul li {
  padding: 0 6%;
}
html body .main-menu ul li a {
  display: inline-block;
  padding: 12px;
  color: black;
  font-size: 1.786rem;
}
html body .main-menu ul li a:hover {
  border-bottom: 4px solid #f79f24;
  transform: translateY(-5px);
}
html body #slideshow-container {
  position: relative;
}
html body #slideshow-container img {
  width: 100%;
  max-height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
html body #slideshow-container .text {
  margin: 5% 0 0 50%;
  position: absolute;
  color: white;
}
html body #slideshow-container .text h2 {
  font-size: 2.857rem;
}
html body #slideshow-container .text h3 {
  font-size: 2.857rem;
}
html body #slideshow-container .text p {
  font-size: 2.143em;
}
html body .about {
  display: flex;
  font-size: 1.786rem;
  padding: 25px 150px;
}
html body .about .image {
  display: block;
}
html body .about .image .about-image {
  background-image: url(../imge/about1.jpg);
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html body .about .image .about-image1 {
  background-image: url(../imge/about2.jpg);
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html body .about .about-text-menu {
  flex: 1;
  text-align: center;
}
html body .about .about-text-menu .text-button {
  display: flex;
}
html body .about .about-text-menu button {
  background-color: blue;
  border-radius: 15%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 32px 16px;
  cursor: pointer;
}
html body .auto-container {
  padding: 3%;
}
html body .auto-container a {
  color: white;
  position: absolute;
  padding: 33px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.78rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49.81%, rgba(0, 0, 0, 0.7) 100%), url(.jpg), rgba(196, 196, 196, 0.3);
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  border-radius: 16px;
  text-decoration: none;
}
html body .auto-container .Auto-title {
  text-align: center;
  font-size: 2.85rem;
  font-weight: bold;
  padding-bottom: 3%;
}
html body .auto-container .auto-menu {
  gap: 30px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 600px;
  margin-bottom: 70px;
  color: white;
  font-size: 1.786rem;
  font-weight: bold;
}
html body .auto-container .auto-menu .engine-image {
  background-image: url(../imge/engine.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
}
html body .auto-container .auto-menu .transmission-image {
  background-image: url(../imge/gearbox.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
}
html body .auto-container .auto-menu .differential-image {
  background-image: url(../imge/differential.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
}
html body .auto-container .auto-menu .wiring-image {
  background-image: url(../imge/wiring.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
}
html body .auto-container .auto-menu .autoair-conditioning-image {
  background-image: url(../imge/autoair-conditioning.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
  color: #000000;
}
html body .auto-container .auto-menu .brakes-image {
  background-image: url(../imge/brakes.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
}
html body .auto-container .auto-menu .air-system-image {
  background-image: url(../imge/air-system.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
}
html body .auto-container .auto-menu .suspension-image {
  background-image: url(../imge/suspension.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
}
html body .contakt-menu {
  display: flex;
  padding-top: 7%;
  justify-content: center;
}
html body .contakt-menu .contakt-us {
  background: #f79f24;
  color: #fff;
  margin-top: 1, 5rem;
  margin-bottom: 1, 5rem;
  padding: 3rem;
}
html body .contakt-menu .contakt-us h2 {
  font-weight: 400;
  font-size: 2.857rem;
}
html body .contakt-menu .contakt-us .adres {
  margin-bottom: 25px;
  font-size: 1.28rem;
}
html body .contakt-menu .contakt-us .phone {
  margin-bottom: 25px;
  font-size: 1.28rem;
}
html body .contakt-menu .contakt-us .email {
  font-size: 1.28rem;
}
html body .spaces {
  margin-top: 52%;
}
html body footer {
  background-color: #252525;
  color: white;
  margin-top: 95px;
}
html body footer .footer-container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
html body footer .footer-container .services ul {
  list-style: circle;
}
html body footer .footer-container .contact-information div {
  padding: 6px 0;
}
html body footer .footer-container .business-houra div {
  padding: 6px 0;
}

/* старт медиа */
@media only screen and (max-width: 1340px) {
  html body .about .about-text-menu button {
    margin: 0;
  }
}
@media only screen and (max-width: 1270px) {
  html body .about .image .about-image,
  .about-image1 {
    width: 400px;
  }
  html body .about .image .about-image1 {
    width: 400px;
  }
}
@media only screen and (max-width: 1150px) {
  html body .about {
    padding: 0;
  }
}
@media only screen and (max-width: 1000px) {
  html body .contakt-menu .map {
    width: 55%;
  }
}
@media only screen and (max-width: 970px) {
  html body .container {
    display: flex;
  }
}
@media only screen and (max-width: 800px) {
  html body header .container .menu-addres {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
