html {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
 
body{
    margin: 0;
}

header{
    display: flex;
    flex-flow: column;
}

.main-log {
    display: inline-block;
    margin: -90px 0 40px 0
}

.main-log img {
    margin-top: 20px;
    width: 340px;
    height: 180px;
}

.container {
    top: 0;
    left: 0;
    right: 0;
    background: #000000;
    padding: 35px 0;
}

header a {
    text-decoration: none;
}

.menu-addres {
    float: right;
    display: flex;
    color: white;
}

.container .addres,
.mobile-number,
.language-menu {
    padding: 40px;
}

.container .menu-addres span:first-child {
    color: gray;
    text-transform: uppercase;
}

.container .menu-addres span {
    display: block;
}

.main-menu {
    background: white;
    margin-top: -54px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 11px 20px rgb(102 191 191 / 50%);
    z-index: 1;
    padding: 5px;
}

.main-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


.main-menu ul li {
    margin-left: 11%;
}

.main-menu ul li a {
    display: inline-block;
    padding: 12px;
    color: black;
    font-size: 1.786rem;
}

.text-menu {
    color: black;


}